.vs/
.idea/
out/
.sln
*.sln

/.idea
.idea
/cmake-build-debug
cmake-build-debug
text_converter
test_app
test_program
text_error_checker

*.o
*.exe
*.so

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
.cmake/
